.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(175px, 1fr));
  gap: 35px;
  align-items: start;
  width: 100%;
  box-sizing: border-box;
  padding: 0;
}

.library-container {
  padding: 40px;
}

.filter-bar {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 30px;
}

h1 {
  margin-bottom: 20px;
}
