apiVersion: v1
kind: Secret
metadata:
  name: app-secrets
type: Opaque
stringData:
  POSTGRES_USER: postgres
  POSTGRES_PASSWORD: postgres
  POSTGRES_DB: cory
  VITE_CLIENT_ID: "76907642755-fkf0ll9okdrjrpgi4rkmqt4mdp55mca5.apps.googleusercontent.com"

